.headerb2{
	max-width:100%;
}
.ptag{
	text-align:left;
	margin-bottom: 15px;
}
.content{
	background-image: url('../assets/images/About-us/bg_logo.png');
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	background-size: 100% 100%;
}
.content p{
	margin-bottom: 15px;
	font-size: 16px;
	text-align:left;
}
#inner_intro2{
	position: relative;
    background-color: #4c4c4c;
    background-image: url('../assets/images/About-us/about.png');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
}
.section-padding {
	background-color: #fff;
}

.text_url{
	color: #F24500;
}

/*pad_adhikari*/

.man_hading{
	color:#F65001;
}

@media only screen and (max-width: 732px) and (min-width:641px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    background-image: none;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
    
}
}

@media only screen and (max-width: 640px) and (min-width:601px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
    background-image: none;
}
}

@media only screen and (max-width: 600px) and (min-width:481px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
     background-image: none;
}
}

@media only screen and (max-width:480px) and (min-width:413px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
     background-image: none;
}
}

@media only screen and (max-width:412px) and (min-width:361px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
     background-image: none;
}
}
@media only screen and (max-width: 360px) and (min-width: 320px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
   background-image: none;
}
}
@media only screen and (max-width:384px) and (min-width:361px){

.content {
    background-image: url('../assets/images/About-us/bg_logo.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
   	background-image: none;
}
}