.headerb2{
	max-width:100%;
}
.ptag{
	text-align:left;
	margin-bottom: 15px;
}
.content{
	background-image: url('../images/About-us/bg_logo.png');
	background-repeat: no-repeat;
	text-align: center;
	width: 100%;
	background-size: 100% 100%;
}
.content p{
	margin-bottom: 15px;
	font-size: 16px;
	text-align:left;
}
#inner_intro2{
	position: relative;
    background-color: #4c4c4c;
    background-image: url('../images/About-us/about.png');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
}
.section-padding {
	background-color: #fff;
}

.text_url{
	color: #F24500;
}