.image-logo{
	max-width: 44%;
}
.image-logo-footer{
	max-width: 23% !important;
}
#intro .owl-nav div {
    width: 50px;
    height: 50px;
    background: #fff;
        background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 12% !important;
    transition: 0.4s ease;
}
@media (max-width: 767px){
	#intro .owl-nav div::after {
		line-height: 48px;
		font-size: 22px;
	}
}