
.dialog-background{
   /* background:  radial-gradient(circle, #fef9f0, #fff8e8, #fff7df, #fdf6d7, #fbf6cf);*/
   /* background: none repeat scroll 0 0 rgba(255, 0, 25, 0.5);*/
  /*  background: none repeat scroll 0 0 rgb(255, 127, 13);*/
    /*background: none repeat scroll 0 0 rgb(238, 228, 220);*/
    background: none repeat scroll 0 0 rgb(255, 250, 245);
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;/*//absolute*/
    top: 0;
    width: 100%;
    z-index: 99999;
}
.dialog-loading-wrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 150px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: fixed;
    top: 50%;
    width: 150px;
    z-index: 999999;
}
.dialog-loading-icon {
   /*background-color: #FFFFFF !important;*/
    border-radius: 13px;
    display: block;
    height: 150px;
    line-height: 100px;
    margin: 0;
    padding: 1px;
    text-align: center;
    width: 150px;
}
.image-logo{
	max-width: 44%;
 /*   max-width: 68%;*/
}


.text-manage{
     
    font-size: 15px;
    color: #fff !important;

}
.image-logo-footer{
	max-width: 23% !important;
}
.image-logo-footer-2{
    max-width: 34% !important;
}

#intro .owl-nav div {
    width: 50px;
    height: 50px;
    background: #fff;
        background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 12% !important;
    transition: 0.4s ease;
}

.invalid {
    color:red;
}

.modal-dialog {
    margin: 20px auto;
    max-width: 84%;
    width: 500px;
}
.scrollbar-model
{
 width: 100%;
 overflow: auto;
}
@media only screen and (max-width: 1920px) and (min-width:1610px){
    .intro_text{ 
        padding: 35% 0 !important;   }
}
@media only screen and (max-width: 1600px) and (min-width:1441px){
    .intro_text{ 
        padding: 19% 0 !important;   }
}
@media (min-width: 1440px) { 

    .intro_text{ 
        padding: 22% 0;   }
 }
 @media only screen and (max-width: 1439px) and (min-width:1366px){
    .intro_text{ 
        padding: 17% 0 !important;   }
 }
 @media (max-width: 767px){
    #intro .owl-nav div::after {
        line-height: 48px;
        font-size: 22px;
    }
}
@media only screen and (max-width: 732px) and (min-width:641px){
 .scrollbar-model{
     height: 247px;
 }
 .select2-container--below{
     width: 100%;

}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}

}
 
@media only screen and (max-width: 640px) and (min-width:601px){
 .scrollbar-model{
     height: 224px;
 }
 .select2-container--below{
     width: 100%;

}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}
}

@media only screen and (max-width: 600px) and (min-width:481px){
 .scrollbar-model{
     height: 659px;
 }
 .select2-container--below{
     width: 100%;

}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}
}

@media only screen and (max-width:480px) and (min-width:413px){
 .scrollbar-model{
     height: 672px;
 }
 .select2-container--below{
     width: 100%;

}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}
}


@media only screen and (max-width:412px) and (min-width:361px){
 .scrollbar-model{
     height: 496px;
 }
 .select2-container--below{
     width: 100%;

}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}
}

@media only screen and (max-width:384px) and (min-width:361px){
 .scrollbar-model{
     height: 469px;
 }
 .select2-container--below{
     width: 100%;

}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}

}

@media only screen and (max-width: 360px) and (min-width: 320px){
 .scrollbar-model{
 width: 100%;
 height: 366px;
 overflow: auto;
}
.select2-container--below{
     width: 100%;

}
.login-page h4 {
    font-size: 24px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}
.logo{
   width: 63%;
 
}
.text-center-footer{
    text-align: center !important;
}

}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 41px;
   /* margin-bottom: 10px;*/
   
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px;
   
}
.lang-panding{
    padding-top: 15px;
}
.color-nirdesh{
    font-weight: 700 !important;
    color: blue!important;
}
.section-padding {
    padding: 106px 0;
}
/*.intro_text {
    max-width: 750px;
    text-align: left;
    padding: 22% 0;
    position: relative;
    z-index: 9;
}*/
